body {
	color: #abb2bf;
	background-color: #222;
}
pre, code {
    background: #272822; color: #f8f8f2 
}
code { 
    border: 1px solid #444;
}
a, a:visited {
	color: #4477FF;
}
h1 a, h1 a:visited {
	color: #abb2bf;
}
