@import url('base-light.css'); /* Import colors */
@import url('base-dark.css') (prefers-color-scheme: dark); /* Dark if user wants to */
@import url('syntax-highlighting-light.css'); /* Import syntax highlighting colors */

body {
	margin: 40px auto;
	max-width: 650px;
	line-height: 1.6;
	font-size: 18px;
	padding: 0 10px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
h1, h2, h3 {
	line-height: 1.2;
}
pre, code {
	font-family: "Courier New", Courier, monospace;
	padding: 2px;
	max-width: 650px;
	overflow-x: auto;
}
a, a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
img {
	max-width: 80%;
}
q {
	padding-left: 1em;
	display: block;
	border-left: 2px solid gray;
}

.bottom-nav {
	width: 100%;
	text-align: center;
}
.bottom-nav a {
	margin: 8px;
}

.article-tag, .index-entry-tag {
	display: inline-block;
	margin: 4px;
}
.article-tags, .index-entry-tags { 
	float: right;
}

.index-click-more-label {
	display: block;
	text-align: right;
}
.article-heading, .index-entry-heading {
	display: inline;
}
