body {
	color: #abb2bf;
	background-color: #222;
}
pre, code {
    border: 1px solid black;
    color: #eee;
}
code { 
    border: 1px solid #444;
}
a, a:visited {
	color: #98ce90;
}
h1 a, h1 a:visited {
	color: #abb2bf;
}
